body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.title {
    color: #901c1c;
    margin-right: 10rem;
    font-size: 4rem;
  }

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin-top: 5rem;
  padding: 2rem;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight:400;
    Size:36px;
    line-height: 46.87px;
    text-align:Center;
    margin: 0.5rem;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer-card {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .photographer-card-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
  }

  
.photographer-img {
  height: 20rem;
    width: 20rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.photographer-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 3.6rem;
}

.photographer-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0.2rem;
  }

  .photographer-tagline {
    color: #000000;
    font-weight: 200;
    font-size: 0.9rem;
    margin: 0.1rem;
  }

  .photographer-rate {
    color: #757575;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 1rem;
  }


.photograph-header {
    height: 25rem;
    margin: 15px 100px;
    display: grid;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fafafa;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 2em;
    align-items: center;
    }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #db8876;
  width: 45rem;
  padding: 2em;
  margin: 6rem 0rem 6rem 0rem;
}


.modal header {
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    font-size: 3rem;
    margin-top: 1px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 26px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.header-link {
  text-decoration: none;
}

.header-logo {
  height: 6rem;
}


.photograph-info {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  padding-left: 2rem;
}

.button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: 15rem;
    height: 5rem;
    border: none;
    background-color: #901c1c;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: auto;
}

.photograph-name {
  color: #d3573c;
  font-weight: 300;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.photograph-location {
    color: #901c1c;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}


.photograph-tagline {
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.photograph-img {
    height: 20rem;
    width: 20rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-img{
    height: 15rem;
    width: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}


.media_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  justify-content: space-between;
  gap: 2em 1em;
  padding: 0 6em 6em 6em;
}

.media-card {
  display: flex;
  flex-flow: column nowrap;
  width: 25rem;
}

.media-card-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.media-card-img {
  width: 25rem;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.media-card-video {
  width: 25rem;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
}

.media-card-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.media-card-title {
  max-width: 80%;
  font-weight: 400;
  font-size: 1.5rem;
  color: #911c1c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.media-like-container {
  display: flex;
  flex-flow: row nowrap;
}

.media-like-button {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
  color: #911c1c;
  cursor: pointer;
}

.fa-regular, .far {
  font-weight: 400;
}


.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 3rem;
  padding: 0.5em;
  background: #db8876;
  color: #000000;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.footer-likes {
  margin-right: 0.5em;
}

.fa-solid, .fas {
  font-weight: 900;
}

#lightbox {
  display: none;
}

/*****************************************
* carousel
*****************************************/

.title2 {
  font-size : 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
}
.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0)
}

.item:hover {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.item__body{
  padding: 25px;
}

.item__title {
  font-size: 24px; 
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.items {
  position: relative;
}

/**
CAROUSEL
**/
.carousel {
  position: relative;

}
.carousel__container{
  transition : transform 0.3s;
  transform : translate3d(0,0,0);
}
.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float : left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width : 40px;
  height : 40px;
  background: #FFF url(/assets/icons/next.svg) center center no-repeat;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor : pointer;
  transition : transform 0.3s, opacity: 0.3s;
}
.carousel__next:hover, .carousel__prev:hover {
  transform : scale(1.2);
}
.carousel__prev {
  background-image: url(/assets/icons/back.svg);
  right: auto;
  left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

/*****************************************
* RESPONSIVE
*****************************************/


@media only screen and (min-width: 766px) and (max-width: 1023px) {
  .photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 5rem;
    padding: 2rem;
}
}


@media only screen and (max-width: 765px) {
  .photographer_section {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 5rem;
    padding: 2rem;
}
}




